<div th:fragment="balance" th:remove="tag">
	<div class="Z_g-right">
		<div class="Z-acc1-1">
			<div class="Z-title_inf">
				账户资产
			</div>
			
			<!--更改信息-->
			<div class="Z-assets">
				<div class="Z-bottom_line">
					<div class="Z-saaets_yue">
						<span class="Z-yue_spa">账户余额</span>
						<div>
							<div class="Z-saa_yue">
								<span>￥</span>659999
							</div>
							<a href="#" class="Z-first_chongzhi">
								充值
							</a>
							<a href="#" class="Z-last_tixian">
								提现
							</a>
						</div>
					</div>
					
					<div class="Z-saa_card">
						<span class="Z-yue_spa">银行卡
							<a class="Z-card_guanli" href="#">
								管理
							</a>
						</span>
						<div class="Z-card_box">
							<div>
								<img src="../images/demoimg/card_1.png"/>
							</div>
							<div>
								<img src="../images/demoimg/card_2.png"/>
							</div>
							<div class="Z-card_no">
								<a href="#"><img src="../images/demoimg/card_3.png"/></a>
							</div>
						</div>
					</div>
				</div>
				
				<div class="Z-saa_zhangdan">
					<span class="Z-yue_spa">账单</span>
					<ul class="couunt">
						<li>
							<span class="c-time">时间</span>
							<span class="c-type">类型</span>
							<span class="c-num">交易明细</span>
							<span class="c-money">金额</span>
						</li>
						<li>
							<span class="c-time">2016-07-02  16：29</span>
							<span class="c-type">购买</span>
							<span class="c-num">购买了小叶紫檀</span>
							<span class="c-money">-¥9999</span>
						</li>
						<li>
							<span class="c-time">2016-07-02  16：29</span>
							<span class="c-type">充值</span>
							<span class="c-num">什么什么银行卡充值¥3000</span>
							<span class="c-money">-¥999</span>
						</li>
						<li>
							<span class="c-time">2016-07-02  16：29</span>
							<span class="c-type">提现</span>
							<span class="c-num">提现至什么什么银行卡¥8000</span>
							<span class="c-money">-¥999</span>
						</li>
						<li>
							<span class="c-time">2016-07-02  16：29</span>
							<span class="c-type">提现</span>
							<span class="c-num">提现至什么什么银行卡¥8000</span>
							<span class="c-money">-¥999</span>
						</li>
						<li>
							<span class="c-time">2016-07-02  16：29</span>
							<span class="c-type">提现</span>
							<span class="c-num">提现至什么什么银行卡¥8000</span>
							<span class="c-money">-¥999</span>
						</li>
					</ul>
					<div class="Z-page clear">
						<div class="Z-go">GO</div>
						<span class="Z-junp">页</span>
						<div class="Z-after">1</div>
						<span class="Z-junp">跳到</span>
						<div class="Z-before">下一页</div>
						<ul>
							<li>1</li>
							<li>2</li>
							<li>3</li>
							<li>...</li>
							<li>9</li>
						</ul>
						<div class="Z-before">上一页</div>
						
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>