<div th:fragment="service" th:remove="tag">
	<div class="d-right clear">
		<ul class="clear d-top">
			<li class="d-edit">申请退货</li>
			<li>查看退货记录</li>
		</ul>
		<div class="s-btn clear">
			<button>查询</button>
			<div class="s-input">
				<input type="text" value="" placeholder="商品名称&nbsp;退换货单号"/>
			</div>
		</div>
		<div class="s-return pop">
			<div class="return-goods">
				<ul class="clear">
					<li class="s-number">退货编号</li>
					<li class="s-name">商品名称</li>
					<li class="s-time">查看时间</li>
					<li class="s-state">订单状态</li>
					<li class="s-operat">操作</li>
				</ul>
			</div>
			<div class="s-list">
				<ul class="clear">
					<li class="s-number">1034210122067</li>
					<li class="s-name">CARTIER/卡地亚 黄金戒指B4084600金色</li>
					<li class="s-time">2016/09/23  15：04：45</li>
					<li class="s-state">已送达</li>
					<li class="s-operat maintain"><a href="apple.html">退货/换货/维修</a></li>
				</ul>
				<ul class="clear">
					<li class="s-number">1034210122067</li>
					<li class="s-name">CARTIER/卡地亚 黄金戒指B4084600金色</li>
					<li class="s-time">2016/09/23  15：04：45</li>
					<li class="s-state">已送达</li>
					<li class="s-operat"><a href="apple.html">退货/换货/维修</a></li>
				</ul>
				<ul class="clear non">
					<li class="s-number">1034210122067</li>
					<li class="s-name">CARTIER/卡地亚 黄金戒指B4084600金色</li>
					<li class="s-time">2016/09/23  15：04：45</li>
					<li class="s-state">已送达</li>
					<li class="s-operat"><a href="apple.html">退货/换货/维修</a></li>
				</ul>
			</div>
		</div>
		<div class="s-return pop" style="display:none">
			<div class="return-goods return-goods2">
				<ul>
					<li class='s-inform'>商品信息</li>
					<li class="s-type">申请类型</li>
					<li class="all-state">
						<select vaule="全部状态">
							<option value="">等到审核</option>
							<option value="">商品处理</option>
							<option value="">已出货</option>
							<option value="">退货生成</option>
							<option value="">已经受理</option>
							<option value="">退换货失败</option>
						</select>
					</li>
					<li class="all-operta">操作</li>
				</ul>
			</div>
			<div class="s-list">
				<ul class="clear">
					<li class="s-inform">CARTIER/卡地亚 黄金戒指B4084600金色</li>
					<li class="s-type">退货</li>
					<li class="all-state">等待审核</li>
					<li class="all-operta">删除</li>
				</ul>
				<ul class="clear">
					<li class="s-inform">CARTIER/卡地亚 黄金戒指B4084600金色</li>
					<li class="s-type">换货</li>
					<li class="all-state">商品处理</li>
					<li class="all-operta">删除</li>
				</ul>
				<ul class="clear">
					<li class="s-inform">CARTIER/卡地亚 黄金戒指B4084600金色</li>
					<li class="s-type">维修</li>
					<li class="all-state">已出库</li>
					<li class="all-operta">删除</li>
				</ul>
				<ul class="clear">
					<li class="s-inform">CARTIER/卡地亚 黄金戒指B4084600金色</li>
					<li class="s-type">退货</li>
					<li class="all-state">退货生成</li>
					<li class="all-operta">删除</li>
				</ul>
				<ul class="clear">
					<li class="s-inform">CARTIER/卡地亚 黄金戒指B4084600金色</li>
					<li class="s-type">换货</li>
					<li class="all-state">已经处理</li>
					<li class="all-operta">删除</li>
				</ul>
				<ul class="clear non">
					<li class="s-inform">CARTIER/卡地亚 黄金戒指B4084600金色</li>
					<li class="s-type">维修</li>
					<li class="all-state">退换货失败</li>
					<li class="all-operta">删除</li>
				</ul>
			</div>
			<div class="s-popup" style="display:none">
				<div class="popup">
					<div class="s-delete"><span>删除订单</span><img src="../images/fase.png" alt=""/></div>
					<div class="say">
						<p>您确定要删除该订单吗？<br/>删除后，您的订单将永久删除，无法找回</p>
						<div class="bnt confirm">确定</div>
						<div class="bnt cancel">取消</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>