<div th:fragment="assess" th:remove="tag">
	<div class="j-store">
		<div class="store-inform">店铺信息</div>
		<div class="j-inform">
			<div class="inform-left"><img src="../images/store.png" alt=""/></div>
			<div class="j-text">
				<h4>中国移动官方旗舰店</h4>
				<p>被评卖家：<span>中国移动官方旗舰店</span></p>
				<span class="describe">宝贝与描述相符：</span>
			</div>
		</div>
	</div>
	<div class="j-score2">
		<div class="score clear">
			<span>店铺动态评分</span>
			<div class="j-all">
				<input type="checkbox" value=""/>
				<span>全部匿名评论</span>
			</div>
		</div>
		<div class="score2 clear">
			<div class="score2-left">
				<h4>商品</h4>
				<div class="recharge clear">
					<div class="recharge-left"><img src="../images/recharge.png" alt=""/></div>
					<div class="recharge-right">上海 移动手机 话费充值 10元 快充直充 24小时<br/>自动充值快速到账</div>
				</div>
			</div>
			<div class="score2-right">
				<h4>商品与描述相符<span>（打分匿名）</span></h4>
				<div class="rating clear">
					<div class="rating_icon" style="float:left;"></div>
				</div>
				<textarea name="" id="" cols="" rows=""></textarea>
				<div class="j-entry">还可以输入<span>500</span>字</div>
			</div>
		</div>
		<div class="j-score3">
			<h4>店铺动态评分</h4>
			<div class="seller clear">
				<span>卖家服务态度</span>
				<div class="rating clear">
					<div class="rating_icon" style="float:left;"></div>
				</div>
			</div>
			<div class="seller clear">
				<span>卖家发货速度</span>
				<div class="rating clear">
					<div class="rating_icon" style="float:left;"></div>
				</div>
			</div>
			<button type="submit">发表评论</button>
		</div>
	</div>
</div>