<div th:fragment="bespoke" th:remove="tag">
	<div class="d-right">
		<ul class="clear d-top">
			<li class="d-edit">我的预约</li>
		</ul>
		<div class="y-bespoke">
			<div class="y-top">
				<ul class="clear">
					<li class="y-name">姓名</li>
					<li class="y-inform">商品信息</li>
					<li class="y-time">时间</li>
					<li class="y-state">状态</li>
					<li class="y-operat">操作</li>
				</ul>
			</div>
			<ul class="clear record">
				<li class="y-name">小芳</li>
				<li class="y-inform">
					<div class="y-photo">
						<img src="../images/demoimg/ac_img7.png" alt="" />
					</div>
					<div class="y-text">
						<p>CARTIER/卡地亚 黄金戒指B4084600金色 50-60#</p>
						<span>戒指尺码:52号</span>
					</div>
				</li>
				<li class="y-time">2016/09/23  15：04：45</li>
				<li class="y-state yu">预约中</li>
				<li class="y-operat">取消</li>
			</ul>
			<ul class="clear record record2">
				<li class="y-name">小芳</li>
				<li class="y-inform">
					<div class="y-photo">
						<img src="../images/demoimg/ac_img7.png" alt="" />
					</div>
					<div class="y-text">
						<p>CARTIER/卡地亚 黄金戒指B4084600金色 50-60#</p>
						<span>戒指尺码:52号</span>
					</div>
				</li>
				<li class="y-time">2016/09/23  15：04：45</li>
				<li class="y-state yu">预约中</li>
				<li class="y-operat">取消</li>
			</ul>
			<ul class="clear record record2">
				<li class="y-name">小芳</li>
				<li class="y-inform">
					<div class="y-photo">
						<img src="../images/demoimg/ac_img7.png" alt="" />
					</div>
					<div class="y-text">
						<p>CARTIER/卡地亚 黄金戒指B4084600金色 50-60#</p>
						<span>戒指尺码:52号</span>
					</div>
				</li>
				<li class="y-time">2016/09/23  15：04：45</li>
				<li class="y-state yu">预约中</li>
				<li class="y-operat">取消</li>
			</ul>
		</div>
	</div>
</div>