<div th:fragment="collect" th:remove="tag">
	<div class="d-right">
		<ul class="clear d-top">
			<li class="d-edit">我收藏的商品</li>
			<li>我关注的店铺</li>
		</ul>
		<div class="j-shop pop">
			<div class="j-stop">
				<ul class="clear">
					<li class="j-al"><input type="checkbox" />商品</li>
					<li class="j-photos">
						商品图片
					</li>
					<li class="j-name">
						商品名称
					</li>
					<li class="j-type">类型</li>
					<li class="j-price">价格</li>
					<li class="j-operat">操作</li>
				</ul>
			</div>
			<div class="j-sbottom">
				<ul class="clear" style="overflow:hidden">
					<li class="j-al"><input type="checkbox" value="" /></li>
					<li class="j-photos"><div class="j-simg"><img src="../images/demoimg/ac_img7.png" alt="" /></div></li>
					<li class="j-name"><p>Calvin Klein/卡文克莱 SIGHT系列 无刻度三针男士时装腕表 K1S21120 白色</p>
					<span>加收藏时间：2016-09-26 17:55:59</span>
					</li>
					<li class="j-type">已收藏</li>
					<li class="j-price">1059</li>
					<li class="j-operat">
						<a href="#" class="put">放入购物车</a>
						<a href="#" class="enjoy">分享给好友</a>
						<a href="#" class="enjoy">取消收藏</a>
					</li>
				</ul>
				<ul class="clear" style="overflow:hidden">
					<li class="j-al"><input type="checkbox" value=""/></li>
					<li class="j-photos"><div class="j-simg"><img src="../images/demoimg/ac_img7.png" alt="" /></div></li>
					<li class="j-name"><p>Calvin Klein/卡文克莱 SIGHT系列 无刻度三针男士时装腕表 K1S21120 白色</p>
					<span>加收藏时间：2016-09-26 17:55:59</span>
					</li>
					<li class="j-type">已收藏</li>
					<li class="j-price">1059</li>
					<li class="j-operat">
						<a href="#" class="put">放入购物车</a>
						<a href="#" class="enjoy">分享给好友</a>
						<a href="#" class="enjoy">取消收藏</a>
					</li>
				</ul>
			</div>
			<div class="j-choose clear" style="overflow:hidden">
				<div class="choose1">
					<input type="checkbox" value=""/>
						全选
				</div>
				<div class="choose2">加入购物车</div>
				<div class="choose3">取消收藏</div>
			</div>
		</div>
		<div class="j-shop pop" style="display:none">
			<div class="j-stop">
				<ul class="clear">
					<li class="j-al"><input type="checkbox"/>商品</li>
				</ul>
			</div>
			<div class="j-sbottom">
			<div class="j-logo clear">
				<div class="logo-left">
					<div class="logo-top">
						<input type="checkbox" />
						<span>LOGO</span>
						<p>帝卡龙男装专营店</p>
					</div>
					<div class="logo-bottom">
						<div class="j-people">关注人气：<span>868人</span></div>
						<div class="j-server">服务评价：<img src="../images/t1.png" alt="" />9.26</div>
						<div class="j-look">关注时间：<span>2016-09-26</span></div>
						<a href="#" class="istore">进入店铺</a>
						<a href="#" class="jcall">联系客服</a>
						<a href="#" class="jout">取消关注</a>
					</div>
				</div>
				<div class="logo-right">
					<div class="sell" style="overflow:hidden">
						<div class="sell1">热销<span>（0）</span></div>
						<span class="sell2">新品<span>（0）</span></span>
						</div>
						<ul class="clear">
							<li><img src="../images/demoimg/j1.png" alt="" /><span>¥168.00</span></li>
							<li><img src="../images/demoimg/j2.png" alt="" /><span>¥168.00</span></li>
							<li><img src="../images/demoimg/j3.png" alt="" /><span>¥168.00</span></li>
							<li><img src="../images/demoimg/j4.png" alt="" /><span>¥168.00</span></li>
							<li><img src="../images/demoimg/j5.png" alt="" /><span>¥168.00</span></li>
						</ul>
						<ul class="clear" style="display:none">
							<li><img src="../images/demoimg/j1.png" alt="" /><span>¥168.00</span></li>
							<li><img src="../images/demoimg/j2.png" alt="" /><span>¥168.00</span></li>
							<li><img src="../images/demoimg/j3.png" alt="" /><span>¥168.00</span></li>
							<li><img src="../images/demoimg/j4.png" alt="" /><span>¥168.00</span></li>
							<li><img src="../images/demoimg/j5.png" alt="" /><span>¥168.00</span></li>
						</ul>
					</div>
				</div>
				<div class="j-logo clear">
					<div class="logo-left">
						<div class="logo-top">
							<input type="checkbox" />
							<span>LOGO</span>
							<p>帝卡龙男装专营店</p>
						</div>
						<div class="logo-bottom">
							<div class="j-people">关注人气：<span>868人</span></div>
							<div class="j-server">服务评价：<img src="../images/t1.png" alt="" />9.26</div>
							<div class="j-look">关注时间：<span>2016-09-26</span></div>
							<a href="#" class="istore">进入店铺</a>
							<a href="#" class="jcall">联系客服</a>
							<a href="#" class="jout">取消关注</a>

						</div>
					</div>
					<div class="logo-right">
						<div class="sell" style="overflow:hidden">
							<div class="sell1">热销<span>（0）</span></div>
							<span class="sell2">新品<span>（0）</span></span>
						</div>
						<ul class="clear">
							<li><img src="../images/demoimg/j6.png" alt="" /><span>¥168.00</span></li>
							<li><img src="../images/demoimg/j7.png" alt="" /><span>¥168.00</span></li>
							<li><img src="../images/demoimg/j8.png" alt="" /><span>¥168.00</span></li>
							<li><img src="../images/demoimg/j9.png" alt="" /><span>¥168.00</span></li>
							<li><img src="../images/demoimg/j10.png" alt="" /><span>¥168.00</span></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="j-choose clear" style="overflow:hidden">
				<div class="choose1">
					<input type="checkbox" value="" />
						全选
				</div>
				<div class="choose2">加入购物车</div>
				<div class="choose3">取消收藏</div>
			</div>
		</div>
		<!-- 分页 -->
		<div class="g-pages clear">
			<span>下一页&nbsp;&gt;</span>
			<ul class="clear">
				<li class="present">1</li>
				<li>2</li>
				<li>3</li>
			</ul>
		</div>
	</div>
</div>