<div th:fragment="fish" th:remove="tag">
	<div class="d-right clear">
		<ul class="clear d-top">
			<li class="d-edit">我发布的</li>
			<li>我卖出的</li>
			<li>我买到的</li>
			<li>我的消息</li>
		</ul>
		<div class="publish pop">
			<div class="f-publish">
				<div class="f-number">
					<ul class="clear">
						<li class="f-shop">商品</li>
						<li class="f-price">单价</li>
						<li class="f-num">数量</li>
						<li class="f-time">时间</li>
						<li class="f-operate">操作</li>
					</ul>
				</div>
				<div class="f-number2">
					<ul class="clear">
						<li class="f-shop">
							<div class="f-img">
								<img src="../images/demoimg/ac_img7.png" alt="" />
							</div>
							<div class="f-test">
								<p>CARTIER/卡地亚 黄金戒指B4084600金色 50-60#</p>
								<span>戒指尺码:52号</span>
							</div>
						</li>
						<li class="f-price">¥11300</li>
						<li class="f-num">1</li>
						<li class="f-time">2016-09-26 10:57:35</li>
						<li class="f-operate">
							<span class="fedit">编辑</span>
							<span class="delete">删除</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="f-number2 f-number3">
					<ul class="clear">
						<li class="f-shop">
							<div class="f-img">
								<img src="../images/demoimg/ac_img7.png" alt="" />
							</div>
							<div class="f-test">
								<p>CARTIER/卡地亚 黄金戒指B4084600金色 50-60#</p>
								<span>戒指尺码:52号</span>
							</div>
						</li>
						<li class="f-price">¥11300</li>
						<li class="f-num">1</li>
						<li class="f-time">2016-09-26 10:57:35</li>
						<li class="f-operate">
							<span class="fedit">编辑</span>
							<span class="delete">删除</span>
						</li>
					</ul>
			</div>
			<div class="f-number2 f-number3">
					<ul class="clear">
						<li class="f-shop">
							<div class="f-img">
								<img src="../images/demoimg/ac_img7.png" alt="" />
							</div>
							<div class="f-test">
								<p>CARTIER/卡地亚 黄金戒指B4084600金色 50-60#</p>
								<span>戒指尺码:52号</span>
							</div>
						</li>
						<li class="f-price">¥11300</li>
						<li class="f-num">1</li>
						<li class="f-time">2016-09-26 10:57:35</li>
						<li class="f-operate">
							<span class="fedit">编辑</span>
							<span class="delete">删除</span>
						</li>
					</ul>
			</div>
			<div class="f-number2 f-number3">
					<ul class="clear">
						<li class="f-shop">
							<div class="f-img">
								<img src="../images/demoimg/ac_img7.png" alt="" />
							</div>
							<div class="f-test">
								<p>CARTIER/卡地亚 黄金戒指B4084600金色 50-60#</p>
								<span>戒指尺码:52号</span>
							</div>
						</li>
						<li class="f-price">¥11300</li>
						<li class="f-num">1</li>
						<li class="f-time">2016-09-26 10:57:35</li>
						<li class="f-operate">
							<span class="fedit">编辑</span>
							<span class="delete">删除</span>
						</li>
					</ul>
			</div>
			<div class="f-number2 f-number3">
					<ul class="clear">
						<li class="f-shop">
							<div class="f-img">
								<img src="../images/demoimg/ac_img7.png" alt="" />
							</div>
							<div class="f-test">
								<p>CARTIER/卡地亚 黄金戒指B4084600金色 50-60#</p>
								<span>戒指尺码:52号</span>
							</div>
						</li>
						<li class="f-price">¥11300</li>
						<li class="f-num">1</li>
						<li class="f-time">2016-09-26 10:57:35</li>
						<li class="f-operate">
							<span class="fedit">编辑</span>
							<span class="delete">删除</span>
						</li>
					</ul>
			</div>
		</div>
		<div class="publish pop" style="display:none">
			<div class="f-publish">
				<div class="f-number">
					<ul class="clear">
						<li class="f-shop">商品</li>
						<li class="f-price">单价</li>
						<li class="f-num">数量</li>
						<li class="f-time">时间</li>
						<li class="f-operate">操作</li>
					</ul>
				</div>
				<div class="f-number2">
					<ul class="clear">
						<li class="f-shop">
							<div class="f-img">
								<img src="../images/demoimg/ac_img7.png" alt="" />
							</div>
							<div class="f-test">
								<p>CARTIER/卡地亚 黄金戒指B4084600金色 50-60#</p>
								<span>戒指尺码:52号</span>
							</div>
						</li>
						<li class="f-price">¥11300</li>
						<li class="f-num">1</li>
						<li class="f-time">2016-09-26 10:57:35</li>
						<li class="f-operate">
							<span class="delete move">删除</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="f-number2 f-number3">
					<ul class="clear">
						<li class="f-shop">
							<div class="f-img">
								<img src="../images/demoimg/ac_img7.png" alt="" />
							</div>
							<div class="f-test">
								<p>CARTIER/卡地亚 黄金戒指B4084600金色 50-60#</p>
								<span>戒指尺码:52号</span>
							</div>
						</li>
						<li class="f-price">¥11300</li>
						<li class="f-num">1</li>
						<li class="f-time">2016-09-26 10:57:35</li>
						<li class="f-operate">
							<span class="delete move">删除</span>
						</li>
					</ul>
			</div>
			<div class="f-number2 f-number3">
					<ul class="clear">
						<li class="f-shop">
							<div class="f-img">
								<img src="../images/demoimg/ac_img7.png" alt="" />
							</div>
							<div class="f-test">
								<p>CARTIER/卡地亚 黄金戒指B4084600金色 50-60#</p>
								<span>戒指尺码:52号</span>
							</div>
						</li>
						<li class="f-price">¥11300</li>
						<li class="f-num">1</li>
						<li class="f-time">2016-09-26 10:57:35</li>
						<li class="f-operate">
							<span class="delete move">删除</span>
						</li>
					</ul>
			</div>
			<div class="f-number2 f-number3">
					<ul class="clear">
						<li class="f-shop">
							<div class="f-img">
								<img src="../images/demoimg/ac_img7.png" alt="" />
							</div>
							<div class="f-test">
								<p>CARTIER/卡地亚 黄金戒指B4084600金色 50-60#</p>
								<span>戒指尺码:52号</span>
							</div>
						</li>
						<li class="f-price">¥11300</li>
						<li class="f-num">1</li>
						<li class="f-time">2016-09-26 10:57:35</li>
						<li class="f-operate">
							<span class="delete move">删除</span>
						</li>
					</ul>
			</div>
			<div class="f-number2 f-number3">
					<ul class="clear">
						<li class="f-shop">
							<div class="f-img">
								<img src="../images/demoimg/ac_img7.png" alt="" />
							</div>
							<div class="f-test">
								<p>CARTIER/卡地亚 黄金戒指B4084600金色 50-60#</p>
								<span>戒指尺码:52号</span>
							</div>
						</li>
						<li class="f-price">¥11300</li>
						<li class="f-num">1</li>
						<li class="f-time">2016-09-26 10:57:35</li>
						<li class="f-operate">
							<span class="delete move">删除</span>
						</li>
					</ul>
			</div>
		</div>
		<div class="publish pop" style="display:none">
			<div class="f-publish">
				<div class="f-number">
					<ul class="clear">
						<li class="f-shop">商品</li>
						<li class="f-price">单价</li>
						<li class="f-num">数量</li>
						<li class="f-time">时间</li>
						<li class="f-operate">操作</li>
					</ul>
				</div>
				<div class="f-number2">
					<ul class="clear">
						<li class="f-shop">
							<div class="f-img">
								<img src="../images/demoimg/ac_img7.png" alt="" />
							</div>
							<div class="f-test">
								<p>CARTIER/卡地亚 黄金戒指B4084600金色 50-60#</p>
								<span>戒指尺码:52号</span>
							</div>
						</li>
						<li class="f-price">¥11300</li>
						<li class="f-num">1</li>
						<li class="f-time">2016-09-26 10:57:35</li>
						<li class="f-operate">
							<span class="delete move">删除</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="f-number2 f-number3">
					<ul class="clear">
						<li class="f-shop">
							<div class="f-img">
								<img src="../images/demoimg/ac_img7.png" alt="" />
							</div>
							<div class="f-test">
								<p>CARTIER/卡地亚 黄金戒指B4084600金色 50-60#</p>
								<span>戒指尺码:52号</span>
							</div>
						</li>
						<li class="f-price">¥11300</li>
						<li class="f-num">1</li>
						<li class="f-time">2016-09-26 10:57:35</li>
						<li class="f-operate">
							<span class="delete move">删除</span>
						</li>
					</ul>
			</div>
			<div class="f-number2 f-number3">
					<ul class="clear">
						<li class="f-shop">
							<div class="f-img">
								<img src="../images/demoimg/ac_img7.png" alt="" />
							</div>
							<div class="f-test">
								<p>CARTIER/卡地亚 黄金戒指B4084600金色 50-60#</p>
								<span>戒指尺码:52号</span>
							</div>
						</li>
						<li class="f-price">¥11300</li>
						<li class="f-num">1</li>
						<li class="f-time">2016-09-26 10:57:35</li>
						<li class="f-operate">
							<span class="delete move">删除</span>
						</li>
					</ul>
			</div>
			<div class="f-number2 f-number3">
					<ul class="clear">
						<li class="f-shop">
							<div class="f-img">
								<img src="../images/demoimg/ac_img7.png" alt="" />
							</div>
							<div class="f-test">
								<p>CARTIER/卡地亚 黄金戒指B4084600金色 50-60#</p>
								<span>戒指尺码:52号</span>
							</div>
						</li>
						<li class="f-price">¥11300</li>
						<li class="f-num">1</li>
						<li class="f-time">2016-09-26 10:57:35</li>
						<li class="f-operate">
							<span class="delete move">删除</span>
						</li>
					</ul>
			</div>
			<div class="f-number2 f-number3">
					<ul class="clear">
						<li class="f-shop">
							<div class="f-img">
								<img src="../images/demoimg/ac_img7.png" alt="" />
							</div>
							<div class="f-test">
								<p>CARTIER/卡地亚 黄金戒指B4084600金色 50-60#</p>
								<span>戒指尺码:52号</span>
							</div>
						</li>
						<li class="f-price">¥11300</li>
						<li class="f-num">1</li>
						<li class="f-time">2016-09-26 10:57:35</li>
						<li class="f-operate">
							<span class="delete move">删除</span>
						</li>
					</ul>
			</div>
		</div>
		<div class="publish pop" style="display:none">
			<div class="f-publish">
				<div class="f-number f-words">
					<ul class="clear">
						<li class="f-receive">我收到的留言</li>
						<li class="f-line">|</li>
						<li class="f-release">我发布的留言</li>
					</ul>
				</div>
				<div class="f-words2">
					<div class="f-wtop">
						<div class="f-wimg">
							<img src="../images/demoimg/acr.png" alt="" />
						</div>
						<p>吕*节   还有吗！需要一台！要无坏点的！</p>
						<span>2016-08-20  08:52:32</span>
						<div class="f-wshow clear">
							<span>诺基亚n85 n86 c7电池 bl5k</span>
							<div class="f-slide">展开<img src="../images/or_img.png" alt="" /></div>
						</div>
					</div>
					<div class="f-wtop">
						<div class="f-wimg">
							<img src="../images/demoimg/acr.png" alt="" />
						</div>
						<p>吕*节   还有吗！需要一台！要无坏点的！</p>
						<span>2016-08-20  08:52:32</span>
						<div class="f-wshow clear">
							<span>诺基亚n85 n86 c7电池 bl5k</span>
							<div class="f-slide">展开<img src="../images/or_img.png" alt="" /></div>
						</div>
					</div>
				</div>
				<div class="f-words2 f-wor" style="display:none">
					<div class="f-wtop">
						<div class="f-wimg">
							<img src="../images/demoimg/acr.png" alt="" />
						</div>
						<p>吕**节   还有吗！需要一台！要无坏点的！</p>
						<span>2016-08-20  08:52:32</span>
						<div class="f-wshow clear">
							<span>诺基亚n85 n86 c7电池 bl5k</span>
							<div class="f-slide">展开<img src="../images/or_img.png" alt="" /></div>
						</div>
					</div>
					<div class="f-wtop">
						<div class="f-wimg">
							<img src="../images/demoimg/acr.png" alt="" />
						</div>
						<p>吕*节   还有吗！需要一台！要无坏点的！</p>
						<span>2016-08-20  08:52:32</span>
						<div class="f-wshow clear">
							<span>诺基亚n85 n86 c7电池 bl5k还有需要一台ddddd</span>
							<div class="f-slide">展开<img src="../images/or_img.png" alt="" /></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="g-pages clear">
			<span>下一页&nbsp;&gt;</span>
			<ul class="clear">
				<li class="present">1</li>
				<li>2</li>
				<li>3</li>
			</ul>
		</div>
	</div>
</div>