<div th:fragment="sale" th:remove="tag">
	<div class="d-right">
		<ul class="clear d-top">
			<li class="d-edit">我的参拍商品</li>
			<li>我的拍卖订单</li>
			<li>消息提醒</li>
		</ul>
		<div class="p-join clear">
			<div class="p-tit clear">
				<button class="p-end">已经结束</button>
				<p><span>正在拍卖</span>&nbsp;&nbsp;温馨提示：商品竞拍成功后，请在24小时内提交订单在1小时内线上付款。</p>
			</div>
			<ul class="p-name clear">
				<li class="p-n1">商品名称</li>
				<li class="p-n2">
					<select name="" id="">
						<option value="">开始时间</option>
						<option value="">10:00</option>
						<option value="">11:00</option>
					</select>
				</li>
				<li class="p-n3">
					<select name="" id="">
						<option value="">结束时间</option>
						<option value="">10:00</option>
						<option value="">11:00</option>
					</select>
				</li>
				<li class="p-n4">当前价格</li>
				<li class="p-n5">我出最高价格</li>
				<li class="p-n6">
					<select name="" id="">
						<option value="">状态</option>
						<option value="">已拍卖</option>
						<option value="">未拍卖</option>
					</select>
				</li>
				<li class="p-n7">操作</li>
			</ul>
		</div>
		<div class="p-join clear" style="display:none">
			<div class="p-tit clear">
				<p>温馨提示：商品竞拍成功后，请在24小时内提交订单在1小时内线上付款。</p>
			</div>
			<ul class="p-name clear">
				<li class="p-n1">商品名称</li>
				<li class="p-n2">拍卖时间</li>
				<li class="p-n3">下单时间</li>
				<li class="p-n4">拍卖价格</li>
				<li class="p-n5">支付状态</li>
				<li class="p-n6">订单编号</li>
				<li class="p-n7">订单状态</li>
			</ul>
		</div>
		<div class="p-join clear" style="display:none">
			<div class="p-tit clear">
				<p>温馨提示：商品竞拍成功后，请在24小时内提交订单在1小时内线上付款。</p>
			</div>
			<ul class="p-name clear">
				<li class="p-n1">商品名称</li>
				<li class="p-n2">拍卖时间</li>
				<li class="p-n3">下单时间</li>
				<li class="p-n4">拍卖价格</li>
				<li class="p-n5">支付状态</li>
				<li class="p-n6">订单编号</li>
				<li class="p-n7">订单状态</li>
			</ul>
		</div>
		<div class="g-pages clear">
			<span>下一页&nbsp;&gt;</span>
			<ul class="clear">
				<li class="present">1</li>
				<li>2</li>
				<li>3</li>
			</ul>
		</div>
	</div>
</div>