<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glanway.ctrlhr.dao.user.UserDao">
	<resultMap id="BaseResultMap" type="com.glanway.ctrlhr.entity.user.User">
		<id column="ID" property="id" jdbcType="DECIMAL" />
		<result column="NAME" property="name" jdbcType="VARCHAR" />
		<result column="PWD" property="pwd" jdbcType="VARCHAR" />
		<result column="REAL_NAME" property="realName" jdbcType="VARCHAR" />
		<result column="STATE" property="state" jdbcType="DECIMAL" />
		<result column="LAST_LOGIN_IP" property="lastLoginIp" jdbcType="VARCHAR" />
		<result column="LAST_LOGIN_TIME" property="lastLoginTime"
			jdbcType="TIMESTAMP" />
		<result column="BATCH_DATE" property="batchDate" jdbcType="TIMESTAMP" />
		<result column="DELETED" property="deleted" jdbcType="CHAR" />
		<result column="CRE_PRO_ID" property="creProId" jdbcType="DECIMAL" />
		<result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL" />
		<result column="CREATED_DATE" property="createdDate" jdbcType="TIMESTAMP" />
		<result column="MOD_PRO_ID" property="modProId" jdbcType="DECIMAL" />
		<result column="LAST_MODIFIED_BY" property="lastModifiedBy"
			jdbcType="DECIMAL" />
		<result column="LAST_MODIFIED_DATE" property="lastModifiedDate"
			jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, NAME, PWD, REAL_NAME, STATE, LAST_LOGIN_IP, LAST_LOGIN_TIME,
		BATCH_DATE, DELETED,
		CRE_PRO_ID, CREATED_BY, CREATED_DATE, MOD_PRO_ID, LAST_MODIFIED_BY,
		LAST_MODIFIED_DATE
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from T_USER
		where ID = #{id,jdbcType=DECIMAL}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from T_USER
		where ID = #{id,jdbcType=DECIMAL}
	</delete>
	<insert id="insert" parameterType="com.glanway.ctrlhr.entity.user.User">
		insert into T_USER (ID, NAME, PWD,
		REAL_NAME, STATE, LAST_LOGIN_IP,
		LAST_LOGIN_TIME, BATCH_DATE, DELETED,
		CRE_PRO_ID, CREATED_BY, CREATED_DATE,
		MOD_PRO_ID, LAST_MODIFIED_BY, LAST_MODIFIED_DATE
		)
		values (#{id,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR},
		#{pwd,jdbcType=VARCHAR},
		#{realName,jdbcType=VARCHAR}, #{state,jdbcType=DECIMAL}, #{lastLoginIp,jdbcType=VARCHAR},
		#{lastLoginTime,jdbcType=TIMESTAMP}, #{batchDate,jdbcType=TIMESTAMP},
		#{deleted,jdbcType=CHAR},
		#{creProId,jdbcType=DECIMAL}, #{createdBy,jdbcType=DECIMAL}, #{createdDate,jdbcType=TIMESTAMP},
		#{modProId,jdbcType=DECIMAL}, #{lastModifiedBy,jdbcType=DECIMAL},
		#{lastModifiedDate,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.glanway.ctrlhr.entity.user.User">
		insert into T_USER
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="name != null">
				NAME,
			</if>
			<if test="pwd != null">
				PWD,
			</if>
			<if test="realName != null">
				REAL_NAME,
			</if>
			<if test="state != null">
				STATE,
			</if>
			<if test="lastLoginIp != null">
				LAST_LOGIN_IP,
			</if>
			<if test="lastLoginTime != null">
				LAST_LOGIN_TIME,
			</if>
			<if test="batchDate != null">
				BATCH_DATE,
			</if>
			<if test="deleted != null">
				DELETED,
			</if>
			<if test="creProId != null">
				CRE_PRO_ID,
			</if>
			<if test="createdBy != null">
				CREATED_BY,
			</if>
			<if test="createdDate != null">
				CREATED_DATE,
			</if>
			<if test="modProId != null">
				MOD_PRO_ID,
			</if>
			<if test="lastModifiedBy != null">
				LAST_MODIFIED_BY,
			</if>
			<if test="lastModifiedDate != null">
				LAST_MODIFIED_DATE,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=DECIMAL},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="pwd != null">
				#{pwd,jdbcType=VARCHAR},
			</if>
			<if test="realName != null">
				#{realName,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				#{state,jdbcType=DECIMAL},
			</if>
			<if test="lastLoginIp != null">
				#{lastLoginIp,jdbcType=VARCHAR},
			</if>
			<if test="lastLoginTime != null">
				#{lastLoginTime,jdbcType=TIMESTAMP},
			</if>
			<if test="batchDate != null">
				#{batchDate,jdbcType=TIMESTAMP},
			</if>
			<if test="deleted != null">
				#{deleted,jdbcType=CHAR},
			</if>
			<if test="creProId != null">
				#{creProId,jdbcType=DECIMAL},
			</if>
			<if test="createdBy != null">
				#{createdBy,jdbcType=DECIMAL},
			</if>
			<if test="createdDate != null">
				#{createdDate,jdbcType=TIMESTAMP},
			</if>
			<if test="modProId != null">
				#{modProId,jdbcType=DECIMAL},
			</if>
			<if test="lastModifiedBy != null">
				#{lastModifiedBy,jdbcType=DECIMAL},
			</if>
			<if test="lastModifiedDate != null">
				#{lastModifiedDate,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.glanway.ctrlhr.entity.user.User">
		update T_USER
		<set>
			<if test="name != null">
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="pwd != null">
				PWD = #{pwd,jdbcType=VARCHAR},
			</if>
			<if test="realName != null">
				REAL_NAME = #{realName,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				STATE = #{state,jdbcType=DECIMAL},
			</if>
			<if test="lastLoginIp != null">
				LAST_LOGIN_IP = #{lastLoginIp,jdbcType=VARCHAR},
			</if>
			<if test="lastLoginTime != null">
				LAST_LOGIN_TIME = #{lastLoginTime,jdbcType=TIMESTAMP},
			</if>
			<if test="batchDate != null">
				BATCH_DATE = #{batchDate,jdbcType=TIMESTAMP},
			</if>
			<if test="deleted != null">
				DELETED = #{deleted,jdbcType=CHAR},
			</if>
			<if test="creProId != null">
				CRE_PRO_ID = #{creProId,jdbcType=DECIMAL},
			</if>
			<if test="createdBy != null">
				CREATED_BY = #{createdBy,jdbcType=DECIMAL},
			</if>
			<if test="createdDate != null">
				CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
			</if>
			<if test="modProId != null">
				MOD_PRO_ID = #{modProId,jdbcType=DECIMAL},
			</if>
			<if test="lastModifiedBy != null">
				LAST_MODIFIED_BY = #{lastModifiedBy,jdbcType=DECIMAL},
			</if>
			<if test="lastModifiedDate != null">
				LAST_MODIFIED_DATE = #{lastModifiedDate,jdbcType=TIMESTAMP},
			</if>
		</set>
		where ID = #{id,jdbcType=DECIMAL}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.glanway.ctrlhr.entity.user.User">
		update T_USER
		set NAME = #{name,jdbcType=VARCHAR},
		PWD = #{pwd,jdbcType=VARCHAR},
		REAL_NAME = #{realName,jdbcType=VARCHAR},
		STATE = #{state,jdbcType=DECIMAL},
		LAST_LOGIN_IP = #{lastLoginIp,jdbcType=VARCHAR},
		LAST_LOGIN_TIME = #{lastLoginTime,jdbcType=TIMESTAMP},
		BATCH_DATE = #{batchDate,jdbcType=TIMESTAMP},
		DELETED = #{deleted,jdbcType=CHAR},
		CRE_PRO_ID = #{creProId,jdbcType=DECIMAL},
		CREATED_BY = #{createdBy,jdbcType=DECIMAL},
		CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
		MOD_PRO_ID = #{modProId,jdbcType=DECIMAL},
		LAST_MODIFIED_BY = #{lastModifiedBy,jdbcType=DECIMAL},
		LAST_MODIFIED_DATE = #{lastModifiedDate,jdbcType=TIMESTAMP}
		where ID = #{id,jdbcType=DECIMAL}
	</update>

	<!-- 全部查询 -->
	<!-- 根据永不名密码查询用户 -->
	<select id="getUser" resultType="User">
		SELECT 
			NAME,PWD 
		FROM T_USER 
		where NAME = #{name} and PWD = #{pwd} AND DELETED=0
	</select>

</mapper>