<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title></title>
		<link rel="stylesheet" th:href="@{/assets/shop/css/common.css}" />
		<link rel="stylesheet" th:href="@{/assets/shop/css/main.css}" />
		<link rel="stylesheet" th:href="@{/assets/shop/css/yd-tipbox.css}" />
	</head>
	<body th:with="conf=${@_conf.get('web_config')}" th:inline="text">
		<yd:ajax key="settlement_pay" value="settlement.pay" />
		<!-- 头部 -->
		<div id="header-cart">
			<div th:include="shop/template/header :: cart('3')" th:remove="tag"></div>
		</div>
		<!-- 头部结束 -->
		<div id="container">
			<div class="cashier-page">
				<h2>订单提交成功</h2>
				<p>订单详情可通过查看我的订单进行核对处理</p>
				<div class="total-price">请您及时付款，以便订单尽快处理！在线支付金额：<strong th:text="@{￥}+${#numbers.formatDecimal(data.total_price, 1, 2)}"></strong></div>
				<div class="order-info">
					<ul id="payOrderList">
						<li class="bg-color">
							<div class="number">订单号</div>
							<div class="payment">商品名称</div>
							<div class="price">金额</div>
						</li>
						<li>
			                <div class="number" th:text="${data.ctc_order_sn}"></div>
			                <div class="payment" th:text="${data.goods_name}"></div>
			                <div class="price" th:text="${#numbers.formatDecimal(data.total_price, 1, 2)}"></div>
			             </li>
					</ul>
				</div>
				<div class="payment-type">
					<h3>支付方式</h3>
					<ul>
						<li class="active" data-val="alipay_pc_direct">
							<i></i>
							<img th:src="${@_url.images()}+@{alipay.png}" />
						</li>
						<li data-val="wx_pub_qr">
							<i></i>
							<img th:src="${@_url.images()}+@{weixinpay.png}" />
						</li>
					</ul>
				</div>
				<div class="btn-submit">
					<input type="submit" id="payCtcSub" value="确定提交支付" />
				</div>
			</div>
		</div>
		
		<!-- 底部 -->
		<div th:include="shop/template/footer :: footer" th:remove="tag"></div>
		
		<script type="text/javascript" th:src="@{/assets/shop/js/jquery-1.11.1.min.js}" ></script>
		<script type="text/javascript" th:src="@{/assets/shop/js/yd-tipbox-min.js}" ></script>
		<script type="text/javascript" th:src="@{/assets/shop/js/pingpp.js}"></script>
		<script type="text/javascript" th:src="@{/assets/shop/js/settlement.js}" ></script>
		<script th:inline="javascript">
			/*<![CDATA[*/
			var orderCtcUu = "";
			$(function() {
				// 订单信息
				orderCtcUu = [[${data.ctc_order_sn}]];
			});
			/*]]>*/
		</script>
		
	</body>
</html>
