<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title></title>
<link rel="stylesheet" th:href="@{/assets/shop/css/common.css}" />
<link rel="stylesheet" th:href="@{/assets/shop/css/main.css}" />
</head>
<body th:inline="text" th:with="searchkeys=${@_dict.many('web_search_key')},
	navs=${@_nav.getByType('0')}
	">
	<!-- 头部 -->
	<div id="header">
		<div th:include="shop/template/header :: header" th:remove="tag"></div>

		<!-- 主导航 -->
		<div class="main-nav">
			<div class="nav">
				<div th:include="shop/template/classify :: brandstore('')" th:remove="tag"></div>
				<div th:include="shop/template/header :: nav(brandstore)" th:remove="tag"></div>
			</div>
		</div>
	</div>
	<!-- 头部结束 -->

	<!-- 二级banner -->
	<div class="second-banner">
		<div class="banner-wrap" style="height: auto;">
			<div class="banner-4">
				<div class="block_home_slider">
					<div id="home_slider" class="flexslider">
						<ul class="slides" th:with="data=${@_banner.lists('brandstore')}">
							<li th:each="item:${data}"><a target="_blank" th:href="${item.banner_url}"> <img th:src="${@_url.goods()}+${item.banner_cover}" />
							</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 中间内容 -->
	<div id="container">

		<div class="brand-page">

			<!-- 	<div class="wrap-top">
					<h2>品牌</h2>
					<ul>
						<li th:each="item,niter:${@_cache.get('web_brand_hot')}" th:if="${niter.index} lt 16">
							<a href="javascript:;"><img th:src="${@_url.goods()}+@{__${item.img1}__}" /></a>
						</li>
					</ul>
				</div> -->
			<div class="wrap-top">
				<h2>品牌</h2>
				<ul th:inline="text" th:with="data=${@_brand.brandIndex()}">
					<li th:each="item:${data}">
						<a th:href="@{search?brand_id=}+${item.brand_id}" class="brand-list-a">
							<img th:src="${@_url.goods()}+${item.brand_pic}" />
						</a>
					</li>
				</ul>
			</div>

			<div class="wrap-content">
				<div class="col-name">
					<label>品牌旗舰店</label>
				</div>
				<div class="list">
					<ul>
						<li th:each="item:${dataStoreList.data}"><a th:href="'/store/'+${item.store_id}" target="_block">
								<div class="img">
									<label class="store_id" th:text="${item.store_id}" hidden="hidden"></label>
									<img class="store" th:src="${@_url.goods()}+${item.store_cover}" />
								</div>
								<div class="bottom-info">
									<!-- <span th:text="${item.store_name}">日本直邮</span> -->
									<div class="info">
										<div class="logo">
											<a href="javascript:;"><img th:src="${@_url.goods()}+@{${item.store_logo}}" /></a>
										</div>
										<div class="title">
											<a href="javascript:;" th:text="${item.store_name}"></a>
										</div>
									</div>
								</div>
						</a></li>
					</ul>
					<div class="pagination"></div>
				</div>
			</div>

		</div>

	</div>

	<!-- 底部 -->
	<div th:include="shop/template/footer :: footer"></div>

	<div th:include="shop/template/footer :: javascript"></div>

	<script type="text/javascript" th:src="@{/assets/js/jquery.page.link.js}"></script>

	<script th:inline="javascript">
			/*<![CDATA[*/
			$(function(){
				// 分页
				pagination(".pagination", [[${dataStoreList.totalPage}]], [[${dataStoreList.p}]], "newsLists");
				
			});
			/*]]>*/
		</script>

	<script>
			$(function(){
				$(".brand-page .wrap-content .col-name .select span").click(function(){
					$(this).next("ul").slideToggle(200);
				});
				$(".brand-page .wrap-content .col-name .select ul li").click(function(){
					$(this).parent().slideToggle(200);
					$(this).parent().prev("span").html( $(this).html() );
					$(this).parent().next("input").val( $(this).attr("data-val") );
				});
			});
		</script>
</body>
</html>
