<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<title></title>
<link rel="stylesheet" th:href="@{/assets/shop/css/common.css}" />
<link rel="stylesheet" th:href="@{/assets/shop/css/c2c.css}" />
<style type="text/css">
	#container .section .list ul li {
		padding: 0;
	}
	#container .section .list ul li .img {
		height: 230px;
	}
	#container .section .list ul li .img img {
		width: auto;
	}
</style>
</head>
<body th:with="searchkeys=${@_dict.many('web_search_key')},
	navs=${@_nav.getByType('0')}
	">
	<!-- 头部 -->
	<div id="header">
		<div th:include="shop/template/header :: header" th:remove="tag"></div>

		<!-- 主导航 -->
		<div class="main-nav">
			<div class="nav">
				<div th:include="shop/template/classify :: ctc(active)" th:remove="tag"></div>
				<div th:include="shop/template/header :: nav(ctc)" th:remove="tag"></div>
			</div>
		</div>
	</div>
	<!-- 头部结束 -->

	<div class="second-banner">
		<div class="banner-wrap">
			<div class="banner-3">
				<div class="block_home_slider">
					<div id="home_slider" class="flexslider">
						<ul class="slides" th:with="data=${@_banner.lists('ctc')}">
							<li th:each="item:${data}"><a target="_blank" th:href="${item.banner_url}"> <img th:src="${@_url.goods()}+${item.banner_cover}" />
							</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="right-section">

				<div class="release">
					<div class="content">
						<h2>
							<a href="/c2c/release">发布商品</a>
						</h2>
						<div class="link">
							<a href="/c2c/release">闲置换钱</a> <a href="/c2c/release">快速出手</a>
						</div>
					</div>
				</div>

				<div class="bulletin">
					<div class="content">
						<div class="title">
							<span>多宝鱼快报</span> <a target="_blank" href="/news">更多&gt;&gt;</a>
						</div>
						<div class="arc-list">
							<ul>
								<li th:each="item:${@_YdShopServiceArticle.indexNews()}" th:inline="text"><a target="_blank" th:href="@{/news/}+${item.article_id}"> [[${item.article_title}]] </a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 楼层 -->
	<div id="container">

		<div class="c2c-recom">
			<div class="col-title">
				<ul>
					<li th:each="item:${typeOne}" th:class="${item.id}==0?active:''" th:text="${item.name}"></li>
				</ul>
				<!-- 寄卖商品列表 -->
				<a th:href="@{/ctc/queryAllCtcGoods}">更多&gt;&gt;</a>
			</div>
			<div class="content">
				<div class="list" th:each="item,niter:${@_cache.get('web_ctc_floor1')}" th:style="${niter.index}==0?'display:block':'display:none'">
					<ul>
						<li th:each="item:${dataStoreList}"><a href="##">
								<div class="img">
									<img th:src="${@_url.goods()}+${item.cover}" />
								</div>
								<div class="title" th:text="${item.name}">笑佛冰种飘花翡翠挂件</div>
								<div class="intro" th:text="${item.summary}">全新2</div>
								<div class="price" th:text="${item.price}">¥1612.00</div>
						</a></li>
					</ul>
				</div>
			</div>
		</div>


		<!-- 黄铂金 -->
		<div class="section" th:inline="text" th:each="item:${data}">
			<div class="col-title">
				<span th:text="${item.cc_name}"></span>
				<ul>
					<li th:each="sitem,nindex:${item.nodes}" th:if="${nindex.index lt 5}"><a href="javascript:;" th:text="${sitem.cc_name}"></a></li>
				</ul>
			</div>

			<!-- 一 -->

			<div style="display: block;" class="list" th:each="sitem,nindex:${item.nodes}" th:if="${nindex.index lt 5}">
				<ul>
					<li th:each="gitem:${sitem.goods}"><a target="_blank" th:href="@{/ctc/CtcComment/}+${gitem.ctc_id}">
							<div class="img">
								<img th:src="${@_url.goods()}+${gitem.ctc_cover}" />
							</div>
							<div class="title" th:text="${gitem.ctc_name}"></div>
							<div class="price">¥[[${gitem.ctc_price}]]</div>
					</a></li>
				</ul>
			</div>

			<!-- <div class="list">
					<ul>
						<li>
							<a href="c2c_details.html">
								<div class="img"><img src="images/demoimg/index_03.png" /></div>
								<div class="title">笑佛冰种飘花翡翠挂件</div>
								<div class="intro">全新2</div>
								<div class="price">¥1612.00</div>
							</a>
						</li>
					</ul>
				</div> -->

		</div>


	</div>

	<!-- 底部 -->
	<div th:include="shop/template/footer :: footer" th:remove="tag"></div>


	<div th:include="shop/template/footer :: javascript" th:remove="tag"></div>
	<script>
		$(function() {
			$("#container .section .col-title ul li").mouseenter(
					function() {
						$(this).addClass("active").siblings().removeClass(
								"active");
						$(this).parents(".section").find(".list").eq(
								$(this).index()).show().siblings(".list")
								.hide();
					});

			$("#container .c2c-recom .col-title ul li").mouseenter(
					function() {
						$(this).addClass("active").siblings().removeClass(
								"active");
						$(this).parents(".c2c-recom").find(".content .list")
								.eq($(this).index()).show().siblings(".list")
								.hide();
					});
		});
	</script>
</body>
</html>
