<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
    <meta charset="utf-8" name="renderer" content="webkit" />
</head>
<body>
    <!--底部-->
    <!-- <div class="btmone-box">
        <div class="btmone">
            <div class="btmleft">
                <img src="/images/erweima.jpg" alt=""/>
                <div class="btmleft-ri">
                    <p class="p1">4006-123-011</p>
                    <p class="p2">联系电话：<i>400-000-000</i></p>
                    <p class="p2">电子邮箱：<i>xxx@xxxxxx.com</i></p>
                </div>
            </div>
            <div class="btmright">
                <a href="#">关于我们</a>
                <i>|</i>
                <a href="#">平台介绍</a>
                <i>|</i>
                <a href="/consult/help">帮助中心</a>
            </div>
        </div>
    </div>
    <div class="btmtwo">
        Copyright ©2016XXX所有沪ICP备xxxx号 沪公网安备xxxxxx号
    </div>
    
     -->
    <div class="btmone-box" style="background:#fff;border-bottom:1px solid #f7f7f7">
        <div class="btmone" style="background:#fff">
            <div class="btmleft">
                <img src="/images/erweima.jpg" alt=""/>
                <div class="btmleft-ri">
                    <p class="p1">4006-123-011</p>
                    <p class="p2">联系电话：<i>400-123-011</i></p>
                    <p class="p2">电子邮箱：<i>gongchengji@163.com</i></p>
                </div>
            </div>
            <div class="btmright">
                <a href="#">关于我们</a>
                <i>|</i>
                <a href="#">平台介绍</a>
                <i>|</i>
                <a href="/consult/help">帮助中心</a>
            </div>
        </div>
    </div>
    <div class="btmtwo" style="background:#fff">
        Copyright ©2016沪ICP备368825号 沪公网安备2553147号
    </div>
</body>
</html>