<div th:fragment="main" th:remove="tag">
	<div class="d-right">
		<ul class="clear d-top">
			<li class="d-edit">全部</li>
			<li>团购（0）</li>
			<li>拍卖（0）</li>
			<li>秒杀（0）</li>
		</ul>
		<div class="d-all pop">
			<div class="d-search clear">
				<div class="d-date">
					<div class="d-date1 clear">
						<span>分类：</span>
						<select name="" id="">
							<option value="">三个月内</option>
							<option value="">四个月内</option>
							<option value="">五个月内</option>
						</select>
					</div>
					<div class="d-sear clear" style="margin-left:13px">
						<span>条件：</span>
						<div class="d-search1">
							<input type="text" value="" placeholder="输入商品标题"/>
						</div>
						<button>搜索</button>
					</div>
				</div>
			</div>
			<div class="d-show">
				<div class="d-show1">
					<ul class="clear">
						<li class="j-al"><input type="checkbox" />全选</li>
						<li class="d-sp1">宝贝名称</li>
						<li class="d-sp3">库存</li>
						<li class="d-sp5">价格</li>
						<li class="d-sp6">推荐</li>
						<li class="d-sp7">操作</li>
					</ul>
				</div>
				<div class="d-show2" th:each="item:${body}">
					<div class="d-show2 d-number12" th:inline="text">
						<div class="d-show4 clear">
							<ul class="clear">
								<li class="j-al"><input type="checkbox" value="" /></li>
								<li class="s1">
									<div class="d-simg">
										<img th:src="${item.goods_attr1}" alt="" />
										<div th:switch="${item.depot_flag1}" th:remove="tag">
											<img th:case="1" src="/assets/images/m1.png" alt="" class="imgg" />
											<img th:case="2" src="/assets/images/m2.png" alt="" class="imgg" />
											<img th:case="3" src="/assets/images/m3.png" alt="" class="imgg" />
											<img th:case="4" src="/assets/images/m4.png" alt="" class="imgg" />
											<img th:case="5" src="/assets/images/m5.png" alt="" class="imgg" />
										</div>
									</div>
									<div class="d-stext">
										<p th:text="${item.depot_tmp1}">CARTIER/卡地亚 黄金戒指B4084600金色 50-60#</p>
										<span th:text="${item.depot_tmp2}">戒指尺码:52号</span>
									</div>
								</li>
								<li class="s3">[[${item.depot_quantity1}]]</li>
								<li class="s5">¥[[${item.depot_price1}]]</li>
								<li class="s6"><span th:text="${item.depot_flag3}==1?是:否">是</span></li>
								<li class="s7"><a href="" class="spayment">编辑</a><a href="">下架</a><span>删除</span></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="j-choose clear" style="overflow:hidden">
					<div class="choose1">
						<input type="checkbox" value=""/>
							全选
					</div>
					<div class="choose2">上架</div>
					<div class="choose3">删除</div>
				</div>
			</div>
		</div>
		<div class="d-all pop" style="display:none">
			<div class="d-show">
				<div class="d-show1">
					<ul class="clear">
						<li class="d-sp1">商品</li>
						<li class="d-sp2">单价</li>
						<li class="d-sp3">数量</li>
						<li class="d-sp4">商品操作</li>
						<li class="d-sp5">实付款</li>
						<li class="d-sp6 d-spp">订单状态</li>
						<li class="d-sp7">操作</li>
					</ul>
				</div>
				<div class="d-show2">
					<div class="d-show3">
						<p class="d-sorder">主单号：1034210122067</p>
						<p>下单时间：2016/09/23  15：04：45</p>
					</div>
					<div class="d-show4 clear">
						<ul class="clear">
							<li class="s1">
								<div class="d-simg"><img src="/assets/images/demoimg/ac_img7.png" alt="" /></div>
								<div class="d-stext">
									<p>CARTIER/卡地亚 黄金戒指B4084600金色 50-60#</p>
									<span>戒指尺码:52号</span>
								</div>
							</li>
							<li class="s2">¥11300</li>
							<li class="s3">1</li>
							<li class="s4"></li>
							<li class="s5">¥11300<span>在线支付</span></li>
							<li class="s6"><span>代付款</span><a href="order_details.html" class="detail">订单详情</a></li>
							<li class="s7"><a href="" class="spayment">立即付款</a><a href="">修改地址</a><span>取消订单</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="d-all pop" style="display:none">
			<div class="d-show">
				<div class="d-show1">
					<ul class="clear">
						<li class="d-sp1">商品</li>
						<li class="d-sp2">单价</li>
						<li class="d-sp3">数量</li>
						<li class="d-sp4">商品操作</li>
						<li class="d-sp5">实付款</li>
						<li class="d-sp6 d-spp">订单状态</li>
						<li class="d-sp7">操作</li>
					</ul>
				</div>
				<div class="d-show2 d-number2">
					<div class="d-show3">
						<p class="d-sorder">主单号：1034210122067</p>
						<p>下单时间：2016/09/23  15：04：45</p>
						<img src="/assets/images/or_img2.png" alt="" />
					</div>
					<div class="d-show4 clear">
						<ul class="clear">
							<li class="s1">
								<div class="d-simg"><img src="/assets/images/demoimg/ac_img7.png" alt="" /></div>
								<div class="d-stext">
									<p>CARTIER/卡地亚 黄金戒指B4084600金色 50-60#</p>
									<span>戒指尺码:52号</span>
								</div>
							</li>
							<li class="s2">¥11300</li>
							<li class="s3">1</li>
							<li class="s4"></li>
							<li class="s5">¥11300<span>在线支付</span></li>
							<li class="s6"><span>等待商家发货</span><a href="order_details.html" class="detail">订单详情</a><a href="apple.html" class="out">退货/换货/维修</a></li>
							<li class="s7"><a href="">取消订单</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="d-all pop" style="display:none">
			<div class="d-show">
				<div class="d-show1">
					<ul class="clear">
						<li class="d-sp1">商品</li>
						<li class="d-sp2">单价</li>
						<li class="d-sp3">数量</li>
						<li class="d-sp4">商品操作</li>
						<li class="d-sp5">实付款</li>
						<li class="d-sp6 d-spp">订单状态</li>
						<li class="d-sp7">操作</li>
					</ul>
				</div>
				<div class="d-show2 d-number2">
					<div class="d-show3">
						<p class="d-sorder">主单号：1034210122067</p>
						<p>下单时间：2016/09/23  15：04：45</p>
						<img src="/assets/images/or_img2.png" alt="" />
					</div>
					<div class="d-show4 clear">
						<ul class="clear">
							<li class="s1">
								<div class="d-simg"><img src="/assets/images/demoimg/ac_img7.png" alt="" /></div>
								<div class="d-stext">
									<p>CARTIER/卡地亚 黄金戒指B4084600金色 50-60#</p>
									<span>戒指尺码:52号</span>
								</div>
							</li>
							<li class="s2">¥11300</li>
							<li class="s3">1</li>
							<li class="s4"></li>
							<li class="s5">¥11300<span>在线支付</span></li>
							<li class="s6"><span>物流派件中</span><a href="order_details.html" class="detail">订单详情</a><a href="orders_take.html">查看物流</a></li>
							<li class="s7"><a href="">确认收货</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		<div class="d-all pop" style="display:none">
			<div class="d-show">
				<div class="d-show1">
					<ul class="clear">
						<li class="d-sp1">商品</li>
						<li class="d-sp2">单价</li>
						<li class="d-sp3">数量</li>
						<li class="d-sp4">商品操作</li>
						<li class="d-sp5">实付款</li>
						<li class="d-sp6 d-spp">订单状态</li>
						<li class="d-sp7">操作</li>
					</ul>
				</div>
				<div class="d-show2 d-number2">
					<div class="d-show3">
						<p class="d-sorder">主单号：1034210122067</p>
						<p>下单时间：2016/09/23  15：04：45</p>
						<img src="/assets/images/or_img2.png" alt="" />
					</div>
					<div class="d-show4 clear">
						<ul class="clear">
							<li class="s1">
								<div class="d-simg"><img src="/assets/images/demoimg/ac_img7.png" alt="" /></div>
								<div class="d-stext">
									<p>CARTIER/卡地亚 黄金戒指B4084600金色 50-60#</p>
									<span>戒指尺码:52号</span>
								</div>
							</li>
							<li class="s2">¥11300</li>
							<li class="s3">1</li>
							<li class="s4"></li>
							<li class="s5">¥11300<span>在线支付</span></li>
							<li class="s6"><span>交易成功</span><a href="order_details.html" class="detail">订单详情</a><a href="orders_take.html">查看物流</a><a href="apple.html" class="out">退货/换货/维修</a></li>
							<li class="s7"><a href="assess.html">评价</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- 分页 -->
		<div class="g-pages clear">
			<span>下一页&nbsp;&gt;</span>
			<ul class="clear">
				<li class="present">1</li>
				<li>2</li>
				<li>3</li>
			</ul>
		</div>
	</div>
</div>