.btnFillter{
	margin-right: 20px;
	color: #999;
}
.searchDiv{
	margin-top: 15px;
}
.textBtn{
	margin-top: 13px;
}
.el-message__img{
	color: #4794D0;
	background: #4794D0!important;
}
/*右侧滑出卡片的内容*/

.dateFillter dt{
	color: #666;
	font-size: 13px;
	margin-bottom: 20px;
}
.dateFillter .el-select{
	width: 48%;
}

/*弹窗*/
/*公用的弹窗背景样式*/
.popup{
	z-index: 999;
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.popup.block{
	display: block;
}
.popupMask{
	z-index: 998;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.65);
}
/*弹窗-考勤管理*/
.popupCard{
	z-index: 999;
	position: absolute;
	background-color: #fff;
	top: 50%;
	left: 50%;
	width: 1200px;
	height: 600px;
	margin-left: -600px;
	margin-top: -300px;
	border-radius: 5px;
}
.popupTitle{
	padding: 15px 0;
	margin: 0 20px;
	font-size: 16px;
	border-bottom: #ddd solid 1px;
}
.popupTitle i{
	display: inline-block;
	width: 21px;
}
.popupContent{
	padding: 20px;
}
.menutab{
	
}
.menuTabTitle{
	float: left;
	width: 120px;
}
.menuTabTitle a{
	display: block;
	width: 100px;
	padding: 10px 5px;
	font-size: 14px;
	border: #dedede solid 1px;
	text-align: center;
	margin-bottom: 20px;
	color: #666;
	border-radius: 10px;
}
.menuTabTitle a:hover,
.menuTabTitle a.active{
	border-color: #4794D0;
	color: #4794D0;
}
.menuTabBox{
	float: right;
	width: 1000px;
}
.menuTabBox .pageTop{
	padding-top: 0;
}

.equipmentMamage{
	padding: 10px 0;
}
.equipmentList{
	margin-top: 20px;
	height: 300px;
	overflow-y: auto;
}
.equipmentItem{
	float: left;
	width: 20%;
	text-align: center;
	position: relative;
	padding: 30px 0 20px;
}
.equipmentItem:hover{
	background-color: #f4f4f4;
}
.equipmentItem .el-checkbox{
	display: none;
	position: absolute;
	top: 10px;
	left: 10px;
}
.equipmentItem:hover .el-checkbox,
.equipmentItem.active .el-checkbox{
	display: inline-block;
}
.equipmentItem .itemAddr{
	display: inline-block;
	width: 100px;
	height: 50px;
	border: #ddd solid 1px;
	border-radius: 5px;
	position: relative;
	margin-bottom: 15px;
}
.equipmentItem .itemAddr:after{
	content:"";
	display: block;
	width: 1px;
	height: 15px;
	background-color: #ddd;
	position: absolute;
	left: 50%;
	top: 50px;
}
.equipmentItem .itemAddr .inner{
	display: table-cell;
	width: 100px;
	height: 50px;
	vertical-align: middle;
	color: #666;
}
.equipmentItem .itemName{
	position: relative;
}
.equipmentItem .noAddr{
	display: table-cell;
	width: 100px;
	height: 50px;
	vertical-align: middle;
	color: #666;
}
.equipmentItem .noAddr p{
	margin-top: 5px;
}
/*正常*/
.equipmentItem .inner span.nomal{
	background-color: #4794D0;
}
/*异常*/
.equipmentItem .inner span.exception{
	background-color: #ff6600;
}
/*未同步*/
.equipmentItem .inner span.noStep{
	background-color: #ffcc00;
}
/*考勤点为空*/
.equipmentItem .inner span.noMember{
	background-color: #ccc;
}
.equipmentItem .itemName:after{
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background-color: #4794D0;
	position: absolute;
	top: 50%;
	left: 0;
}
.equipmentItem .itemName .inner{
	display: inline-block;
	width: 60px;
	height: 60px;
	position: relative;
	z-index: 1;
}
.equipmentItem .itemName .inner span{
	display:block;
	vertical-align: middle;
	padding: 5px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 50%;
	color: #fff;
	overflow: hidden;
}
.equipmentItem .itemInfo{
	color: #999;
	margin-top: 5px;
}
.equipmentItem .itemInfo a{
	color: #4794D0;
	font-size: 13px;
}
.viewMemberAbout button{
	font-size: 12px;
	color:#4794D0;
}
.viewMemberAbout .groupBtn{
	margin-left: 0;	
}
.hadMembers{
	position: relative;
	top: 17px;
}
/*弹窗*/
.viewMember{
	z-index: 999;
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 600px;
	height: 500px;
	margin-left: -325px;
	margin-top: -250px;
	padding: 0 25px;
	background: #fff;
	border-radius: 5px;
	box-shadow: rgba(0,0,0,0.2) 0 0 10px;
}
.viewMember.block{
	display: block;
}
.viewMemberHd{
	text-align: center;
	padding: 20px 0;
	font-size: 15px;
	color: #666;
}
.viewMemberHd span{
	font-size: 17px;
}
.viewMemberAbout{
	padding-bottom: 5px;
	border-bottom: #ddd solid 1px;
}
.viewMemberFillter{
	padding: 10px 0;
}
.viewMemberAbout a{
	color: #4794D0;
}
.viewMemberBd .pagination{
	margin-top: 30px;
}
/*查看群组弹窗*/
.groupPop{
	display: none;
	position: fixed;
	background: #fff;
	top: 0;
	left:0;
	width: 430px;
	height: 200px;
	padding: 20px 15px;
	left: 50%;
	margin-left: -223px;
	top: 28%;
	z-index: 999;
	border: 1px solid #ccc;
	box-shadow: rgba(0,0,0,0.2) 0 0 10px;
}
.seeGroup.on,.seeDepartment.on{
	display: block;
}
.closeGroup{
	cursor: pointer;
}
.groupPop .closeGroup{
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 14px;
}
.groupTitle{
	text-align: center;
	font-size: 16px;
	padding: 10px 0;
}
.hadGroup{
	color: #666;
	font-size: 12px;
}
.groupWrap {
	padding-top: 10px;
}
/*新增考勤点弹窗*/
.topHandle{
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	line-height: 36px;
	font-size: 12px;
}
.rightSearch{
	width: 200px;
}
.rightSearch input{
	border: none;
}
.newPoint{
	text-align: right;
	padding: 5px 0;
}
.checkList{
	height: 100px;
	overflow: auto;
}
.sureBtns{
	text-align: center;
}
.dateChoice .el-input__inner,.el-date-editor.el-input{
	width: 129px;
}
