<div th:fragment="main" th:remove="tag" th:inline="text">
	<div class="Z_g-right">
		<div class="Z-acc1-1">
			<div class="Z-title_inf">
				账户安全
			</div>
			
			<!--更改信息-->
			<div class="Z-jibie">
				<div>安全级别：</div>
				<div class="Z-down">
					<div></div>
				</div>
				<div>低</div>
			</div>
			
			<div class="Z-steps">
				<ul>
					<li>
						<div class="Z-steps_pic">
							<img src="http://res.excelsiorbrand.cn/dby/images/yiyanzheng.png"/>
						</div>
						<div class="Z-secondary_title">
							登录密码
						</div>
						<div class="Z-steps_tex Z-steps_tex1">互联网账号存在被盗风险，建议您定期更改密码以保护账号安全。</div>
						<div class="Z-steps_button">
							<a href="javascript:void(0)" data-type="login" yd:ajax="onclick,get.edit_password">修改</a>
						</div>
					</li>
					<li>
						<div class="Z-steps_pic">
							<img th:src="${data.user_mobile== ''} ? 'http://res.excelsiorbrand.cn/dby/images/weiyanzheng.png' : 'http://res.excelsiorbrand.cn/dby/images/yiyanzheng.png' "/>
						</div>
						<div class="Z-secondary_title">
							验证手机号
						</div>
						<div class="Z-steps_tex">验证后，可用于快速找回登录密码及支付密码，接收账户余额变动提醒。</div>
						<div th:if="${data.user_mobile== ''}" th:remove="tag">
							<div class="Z-steps_button1"><a href="javascript:void(0)" data-type="login" yd:ajax="onclick,get.verify_mobile">立即绑定</a></div>
						</div>
						<div th:if="${data.user_mobile!= ''}" th:remove="tag">
							<div class="Z-steps_button"><a href="javascript:void(0)" data-type="login" yd:ajax="onclick,get.edit_mobile">修改</a></div>
						</div>
					</li>
					<!--
					<li>
						<div class="Z-steps_pic">
							<img th:src="${data.userEmail == ''} ? 'http://res.excelsiorbrand.cn/dby/images/weiyanzheng.png' : 'http://res.excelsiorbrand.cn/dby/images/yiyanzheng.png' "/>
						</div>
						<div class="Z-secondary_title">
							邮箱验证
						</div>
						<div class="Z-steps_tex">验证后，可用于快速找回登录密码，接收账户余额变动提醒。</div>
						<div th:if="${data.userEmail == ''}" th:remove="tag">
							<div class="Z-steps_button1"><a href="#">立即绑定</a></div>
						</div>
						<div th:if="${data.userEmail != ''}" th:remove="tag">
							<div class="Z-steps_button"><a href="#">修改</a></div>
						</div>
					</li>
					-->
					<li>
						<div class="Z-steps_pic">
							<img th:src="${data.user_payment_password == ''} ? 'http://res.excelsiorbrand.cn/dby/images/weiyanzheng.png' : 'http://res.excelsiorbrand.cn/dby/images/yiyanzheng.png' "/>
						</div>
						<div class="Z-secondary_title">
							支付密码
						</div>
						<div class="Z-steps_tex">1启用支付密码后，在使用账户资产时，需通过支付密码进行身份认证。</div>
						<div th:if="${data.user_payment_password == ''}" th:remove="tag">
							<div class="Z-steps_button1"><a href="javascript:void(0)" yd:ajax="onclick,get.set_pay_password">立即设置</a></div>
						</div>
						<div th:if="${data.user_payment_password != ''}" th:remove="tag">
							<div class="Z-steps_button"><a href="javascript:void(0)" data-type="pay" yd:ajax="onclick,get.set_pay_password">修改</a></div>
						</div>
					</li>
				</ul>
			</div>
			
			<div class="Z-steps_tixing">
				<span>安全服务提示</span>
				<ul>
					<li>1.确认您登录的是多宝鱼网址http://www.xxx.com，注意防范进入钓鱼网站，不要轻信各种即时通讯工具发送的商品或支付链接，谨防网购诈骗。</li>
					<li>2、建议您安装杀毒软件，并定期更新操作系统等软件补丁，确保账户及交易安全。</li>
				</ul>
			</div>
			
		</div>
	</div>
</div>